<fieldset>
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
      <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description,rows: 16,cols: 74 %>
  </p>
  
  <p class="field">
    <%= f.label :deadline %><br />
    <%= f.text_field :deadline  %>
  </p>
  <% if @project.id!=nil %>
  <p class="field">
    <%= f.label :status %><br />
     <%= select_tag('project[status]',options_for_select( [ ['Analysis','Analysis' ], ['Design','Design' ], ['Code', 'Code'], ['Test', 'Test'], ['Completed', 'Completed'],['Delivered', 'Delivered'] ])) %> 
  </p>
  <% end %>
  <% if @project.id==nil %>
  <p class="users">
    <b>Assign Users </b><br/>
    <% User.all.each do |u| %>

    <%= check_box_tag 'project[user_ids][]', u.id -%>
    <label><span><%=  u.email -%></span></label>

    <% end %>
  </p>
<%end%>
  <p class="actions">
    <%= f.submit %>
  </p>
  <% end %>
</fieldset>

